<%
companies = Company.all
%>

<h1>Companies</h1>
<ul>
<% for company in companies%>
    <li><%=company["name"] %> - <%= company["city"] %></li>
<% end %>
</ul>

<table>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>State</th>
    </tr>
    <% for company in companies%>

    <tr>
        <th><%= company["name"] %></th>
        <th><%= company["city"] %></th>
        <th><%= company["state"] %></th>

    <% end %>
</table>